.App {
  text-align: center;
}

* {
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FFD6C9;
  overflow-x: hidden;
}

#root {
  background-color: #F1F2F6;
  padding: 50px 0 200px 0;
  margin-top: 100px;
  border-radius: 30px;
  position: relative;
}


.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 35vh;

}



a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.sort {
 color: rgb(187, 124, 124);
  
}

.headerNav {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.headerNav ul {
  display: flex;

}

.headerNav ul li {
  margin: 0 20px;
}

.notes {
  color: rgb(187, 124, 124);
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  font-family: sans-serif;

}

.notes li {
  font-size: 20px;
  margin: 20px 0;
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.sortBox {
  display:  flex;
  justify-content: center;
  align-items: center;

}

.sortBox select {
  margin-left: 10px;
  background: none;
  color: rgb(110, 107, 107);
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
}

.noteTitle {
  text-align: left;
}

.noteCost {
  display: flex;
}

.nameCategory {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 21px;
}


.categories span {
  margin-left: 10px;
}

.categories button {
  font-weight: bold;
  background: none;
  margin-left: 15px;
  border-radius: 3px;

}

.categories button:hover {
  color: #fff;
  background-color: #000;
  transition: .2s;
}

.btnDel button {
  
  margin-left: 10px;
  font-weight: bold;
  background: none;
  outline: none;
  border: 1px solid #000;
  border-radius: 3px;

  transition: .2s;
  height: 25px;
}


.btnDel button:hover {
  color: #fff;
  background-color: #000;
  transition: .2s;
}


.sidebar {
  float: right;  
  width: 15%;
  height: 100vh;
  background-color: #F1F2F6;
  border: 1px solid red;
}

.pie {
  margin: 0 auto;
  height: 600px;
  width: 600px;
  overflow: visible;
  position: relative;
}
.pie span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


.inputBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.inputBox input {
  width: 200px;
  padding: 5px;
}

.inputBox input {
  border: none;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  color: rgb(110, 107, 107);
}

.buttonBox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonBox button {
  color: rgb(110, 107, 107);
  /* background: none; */
  font-weight: bold;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  transition: .3s;
  margin: 0 5px; 
  z-index: 1;
}

.buttonBox button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(110, 107, 107);
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 5px;
}

.buttonBox button:hover {
  color: #3461a0;
}

.buttonBox button:hover:before {
  background-color: rgb(137, 207, 240);
  transition: .3s;
  border: transparent;
}


.buttonBox select {
  background: none;
  color: rgb(110, 107, 107);
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  max-height: 41px;
}




@media (max-width: 760px) { 


  .headerNav {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .pie {
    max-width: 480px;
    font-size: 17px;
  }

  .buttonBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-self: center; */
    
  }

  .buttonBoxItem {
    width: 200px;
    margin: 8px 0 !important;
  }

 }




 @media (max-width: 479px) { 

  .App {
    overflow-x: hidden;
  }
   .logo {
    max-width: 100%;
    height: auto;
  }

  .pie {
    max-width: 320px;
  }

  .VictoryContainer {
    max-height: 350px;
  }

  .notes {
    display: flex;
    justify-content: center;
    /* padding: 0 15px; */
    padding: 0 17px !important;
  }
  
  .notesItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px !important;
    justify-content: center;
    margin-left: 0 !important; 
    padding: 15px 0 !important;

  }

  .noteTitle {
    margin-bottom: 10px;
  }

 }